<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NodeTracker</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="/css/bootstrap.css?v=1">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <link rel="shortcut icon" href="/favicon.ico">

  </head>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">NodeTracker</a>

          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li>
              <% if(everyauth.loggedIn) { %>
                <a href="#">Arun Kuamr</a>
              <% } else { %>
                <a href="/auth/github">LogIn</a>
              <% } %>
            </li>
            <li>
              <% if(everyauth.loggedIn) { %>
                <a href="/logout">LogOut</a>
              <% } %>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
          <h5>Quick Links</h5>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <%- body %>

        <footer>
          <p>&copy; NodeTracker 2011</p>

        </footer>
      </div>
    </div>

  </body>
</html>