<div class="hero-unit">
  <h2>Build better software, faster.</h2>
  <p>
    Collaborative, lightweight agile project management tool, brought to you by the experts in agile software development.
    Stay on target with Tracker's continuous, automatic prediction of milestone completion dates, based on your team's performance.
  </p>
  <p><a class="btn primary">Sign Up Now &raquo;</a></p>
</div>

<div class="row">
  <div class="span6">
    <h3>Increase Visibility and Collaboration</h3>
    <p>Bring everyone, even distributed teams into the same virtual room. Enable a more efficient way to agree on priorities and stay aligned with the entire team.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>

  <div class="span5">
    <h3>Deliver on Customer Feedback</h3>
    <p>Get the right product to the market sooner, based on continuous feedback and prioritization. Respond to changing needs and new requirements easily.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>

  <div class="span5">
    <h3>Transform How You Build</h3>
    <p>Supercharge your agile project teams with focused, real time collaboration. Accelerate agile adoption with a simple, proven process.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>